body {
  font-family: "Cairo", sans-serif;
}

.top-nav {
  font-size: 20px;
  background-color: #000;
}
.top-nav p {
  color: #ffffff;
  margin-bottom: 0 !important;
}
.top-nav span {
  color: #ff8a1d;
}
.top-nav .call {
  padding-block: 10px;
  padding-inline: 3px;
}
.top-nav .mail {
  padding-block: 10px;
  padding-inline: 3px;
}

.header {
  background-color: #d1e3ff;
}
.header .navbar-brand {
  color: #0355cc;
  font-size: 24px;
  font-weight: bold;
}
.header .nav-link {
  color: #000 !important;
  padding: 10px 25px !important;
  font-weight: bold;
}
.header .active {
  color: #0355cc !important;
}
.header .header-slider {
  margin-top: 10px;
  padding-inline: 15px;
}
.header .header-slider .tit h1 {
  font-weight: bold;
  font-size: 3.5rem;
  margin-bottom: 25px;
  color: #0355cc;
}
.header .header-slider .tit p {
  font-size: 18px;
  color: #444;
  margin-bottom: 2rem;
  line-height: 30px;
}
.header .header-slider .tit .btn-warning {
  width: fit-content;
  padding: 10px 45px;
  background-color: #ff8a1d !important;
  border: 1px solid #ff8a1d !important;
  border-radius: 5px;
  color: #ffffff !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
.header .header-slider img {
  max-width: 80%;
}

.features {
  margin-block: 50px;
}
.features .features-one {
  text-align: center;
  padding: 45px 10px;
  background-color: #ffffff;
  color: #555089;
  transition: all 0.3s;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}
.features .features-one:hover {
  background-color: #ff8a1d;
  color: #ffffff;
}
.features .features-one img {
  width: 100px;
  height: 100px;
  max-height: 100%;
  transition: all 0.3s;
}
.features .features-one p {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
}
.features .back {
  background-color: #ff8a1d;
}
.features .back p {
  color: #ffffff;
}

.numbers {
  background-color: #d1e3ff;
  padding-block: 50px;
}
.numbers h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}
.numbers .margin-num {
  max-width: 300px;
  margin: auto;
}
.numbers .margin-num .number-cont {
  margin-top: 50px;
  text-align: center;
  border: 1px solid #0355cc;
  border-radius: 10px;
  padding: 10px 10px;
}
.numbers .margin-num .number-cont h2 {
  color: #0355cc;
  font-weight: bold;
}
.numbers .margin-num .number-cont p {
  font-weight: bold;
  font-size: 25px;
}

.about {
  margin-block: 50px;
}
.about h1 {
  font-weight: bold;
  margin-bottom: 35px;
}
.about p {
  max-width: 90%;
  margin-bottom: 35px;
  line-height: 29px;
  font-weight: bold;
}
.about .about-btn {
  background-color: #0355cc !important;
  color: #ffffff !important;
  border-color: #0355cc !important;
  width: 100px !important;
  margin-bottom: 50px;
}
.about img {
  border-radius: 10px;
  max-width: 100%;
}

.problem {
  padding-block: 50px;
  background-color: #d1e3ff;
}
.problem .pro-box ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease !important;
}
.problem .pro-box ul li {
  padding: 10px 25px;
  background-color: #0355cc;
  border-bottom: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s;
}
.problem .pro-box ul li:hover {
  background-color: #ffffff;
  color: #0355cc;
}
.problem .pro-box ul .active {
  background-color: #ffffff;
  color: #0355cc;
}
.problem .pro-box .content {
  background-color: #ffffff;
  color: #0355cc;
  padding: 10px 25px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  width: fit-content !important;
}
.problem .pro-box .content p {
  padding-block: 10px;
}
.problem .pro-box .content p:not(:first-child) {
  display: none;
}
.problem .h1-pro {
  color: #0355cc;
  font-weight: bold;
  margin-bottom: 25px;
}
.problem .p-text {
  font-weight: bold;
  line-height: 28px;
  margin-bottom: 25px;
}
.problem .btn-pro {
  width: fit-content;
  padding: 10px 45px;
  background-color: #ff8a1d !important;
  border: 1px solid #ff8a1d !important;
  border-radius: 5px;
  color: #ffffff !important;
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (max-width: 815px) {
  .tit h1 {
    font-size: 2rem !important;
  }
  .tit p {
    font-size: 14px !important;
  }
}
@media (max-width: 768px) {
  .header-slider {
    margin-top: 50px !important;
  }
}
@media (max-width: 363px) {
  .call {
    font-size: 15px;
  }
  .mail {
    font-size: 15px;
  }
  .problem li {
    padding: 10px 5px !important;
    font-size: 16px !important;
  }
  .problem .content p {
    font-size: 10px !important;
  }
}

/*# sourceMappingURL=style.css.map */
